[Unit]
Description=Mint Arch Linux — GitHub & Package Auto Updater
Documentation=https://github.com/og-py3/mint-arch-linux
After=network-online.target nss-lookup.target time-sync.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/mint-autoupdate
RemainAfterExit=no
StandardOutput=journal
StandardError=journal
TimeoutStartSec=300
User=root

[Install]
WantedBy=multi-user.target