[Desktop Entry]
Type=Application
Name=Mint Arch Live Wallpaper
Exec=bash -c "sleep 4 && /usr/local/bin/mint-live-wallpaper"
Icon=/usr/share/pixmaps/mintarch-logo.png
Comment=Minecraft Northern Lights live wallpaper (hardware-accelerated, 30fps cap)
X-KDE-autostart-phase=2
X-KDE-autostart-after=panel
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
StartupNotify=false
Terminal=false
